.wrapper {
  display: flex;
  overflow: auto;

  width: 800px;
  min-height: 600px;

  border: 1px solid #ddd;
  border-radius: 16px;
  background-color: #fff;
}

.users {
  min-width: 200px;
  padding: 16px;

  background-color: #f5f5f5;
}

.user {
  padding: 4px 8px;

  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 16px;
}

.leftPlace {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 16px;
}

.messages {
  overflow: auto;

  max-height: 370px;
}

.message {
  margin-bottom: 16px;
  padding: 8px;

  border-radius: 4px;
  background-color: #d6e4ff;
}

.userMessage {
  padding-bottom: 8px;

  color: #1890ff;

  font-size: 12px;
}

.sendMessage {
  margin-top: auto;
}
